/*ARQUIVO CSS SITE SISTEMA OPERACIONAL*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #0D0126;
}

/*Página Home*/
header{ /*aplica-se aos filhos (class="menu"), mas não aos netos (li, a href)*/
    width: 100%;
    height: 120px;
    background-color: #0d0d0d;
    box-shadow: 0px 5px 20px #000; /*adiciona bloco de sombra (valor de x, valor de y, valor do blur, cor)*/
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    /* flex-wrap: wrap; caso haja diminuição de resolução de tela, ele proporciona quebra de linha */
}

.logo img{
    width: 105px;
    height: 105px;
}

.menu{
    list-style: none; /*remove as bolinhas pretas*/
    display: flex; /*posiciona os elementos um do lado do outro*/
    /* width: 100%;
    margin-left: 1000px; */
}

.menu li a{
    color: #fff;
    display: block; /*transforma elemento de linha em elemento de caixa*/
    text-decoration: none;
    margin-left: 10px; /*espaçamento entre os elementos*/
    font-family: 'Courier New', Courier, monospace;
    margin: 100px 80px 100px 80px;
    padding: 15px;
    /* padding: 20px 60px 20px 60px; */
    border-radius: 10px; /*arredonda cantos das bordas*/
    transition: 1s;
    font-size: 20px;
}

.menu li a:hover{
    color: #fff;
    display: block; /*transforma elemento de linha em elemento de caixa*/
    text-decoration: none;
    margin-left: 10px; /*espaçamento entre os elementos*/
    font-family: 'Courier New', Courier, monospace;
    background-color: #8435F2;
    transition: 1s;
}

ul.menu a.ativa{
    border-bottom: 5px solid #8435F2;
}

.container{
    max-width: 1920px;
    margin: 0 auto;
    background-color: #0D0126;
    max-height: 850px;
}

.container img{
    width: 50%;
    margin-left: 500px;
    margin-top: 10px;
    margin-bottom: -10px;
    transition-duration: 2s;
}

.container img:hover{
    transform: scale(1.1);
    transition-duration: 2s;
}

.rodape{
    padding-top: 10px;
    width: 100%;
    height: 81px;
    background-color: #0d0d0d;
    color: #fff;
    font-family: 'Montserrat', 'Poppins', sans-serif;
    text-align: center;
    line-height: 20px;
    box-shadow: 0px -5px 20px #000;
    font-size: 15px;
}

.rodapeh{
    padding-top: 20px;
    width: 100%;
    height: 81px;
    background-color: #0d0d0d;
    color: #fff;
    font-family: 'Montserrat', 'Poppins', sans-serif;
    text-align: center;
    line-height: 20px;
    box-shadow: 0px -5px 20px #000;
    font-size: 15px;
}

.social{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.social li{
    margin-top: 6px;
    display: block;
    margin-left: 20px;
}

.social img{
    width: 20px;
    height: 20px;
}

.seta img{
    position: absolute;
    right: 80px;
    margin-top: -50.5px;
}

/*Página Sobre*/
p{
    color: #fff;
}

.containerpag{
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.containerpagctt{
    width: 100%;
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
}

.arg{
    width: 25%;
    float: left;
    background-color: #0d0d0d;
    margin: 20px;
    padding: 20px;
    height: 2200px;
}

.argmod{
    width: 25%;
    float: left;
    background-color: #0d0d0d;
    margin: 20px;
    padding: 20px;
    height: 13600px;
}

.atualiza{
    text-decoration: none;
    color: #ce4848b6;
    font-size: 11px;
    font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    margin-left: 20px;
    display: block;
    margin-top: 10px;
}

p.titext{
    color: #fff;
    text-align: center;
    font-size: 19px;
    font-family: Inter,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    /* font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif */
    font-weight: bold;
}

.artg{
    list-style: none;
    margin-top: 20px;
    /* overflow-y: scroll; */
    position: relative;
}


.artg li a{
    text-decoration: none;
    color: #ffffffb6;
    font-size: 14px;
    font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    margin-left: 20px;
    display: block;
    margin-top: 10px;
}

.artg.artg:not(.button) {
    border-left: 3px solid #635ef2;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.artg a:hover{
    border-bottom: 2px solid #5C82F2;
}

.article{
    width: 50%;
    justify-content: center;
    background-color: #0d0d0d;
    margin: 20px;
    padding: 20px;
    height: 2200px;
}

.articlemod{
    width: 50%;
    justify-content: center;
    background-color: #0d0d0d;
    margin: 20px;
    padding: 20px;
    height: 13600px;
}

.articlectt{
    width: 50%;
    justify-content: center;
    background-color: #0d0d0d;
    margin: 20px;
    padding: 20px;
    height: 690px;
}

.articlecttred{
    width: 50%;
    justify-content: center;
    background-color: #0d0d0d;
    margin: 20px auto;
    padding: 20px;
    height: 690px;
}

.tpc{
    width: 25%;
    float: right;
    background-color: #0d0d0d;
    margin: 20px;
    padding: 20px;
    height: 2200px;
}

.tpcmod{
    width: 25%;
    float: right;
    background-color: #0d0d0d;
    margin: 20px;
    padding: 20px;
    height: 13600px;
}

p.titextar{
    text-align: left;
    font-size: 39px;
    font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

p.titextarctt{
    text-align: center;
    font-size: 39px;
    font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: bold;
}

p.titextara{
    display: block;
    margin-top: 15px;
    text-align: left;
    font-size: 39px;
    font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.arttext{
    display: block;
    margin-top: 5px;
    font-size: 16px;
    font-family: Inter,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    text-align: justify;
    line-height: 25px;
}

.arttextctt{
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-family: Inter,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.arttextctth{
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-family: Inter,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    text-align: center;
}

.atualizactt{
    color: #ce4848b6;
    font-size: 11px;
    font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.comp{
    display: block;
    list-style: none;
    text-decoration: none;
    margin-left: 20px;
}

.comp b{
    font-size: 20px;
}

.compex{
    list-style: none;
    text-decoration: none;
    margin-left: 40px;
}

.star{
    color: red;
}

/*Página Contato*/
.box{
    width: 500px;
    height: 500px;
    border: none;
    margin: auto;
    padding: 50px;
    justify-content: center;
    float: center;
}

.boxred{
    width: 500px;
    height: 500px;
    border: none;
    margin: auto;
    padding: 50px;
    justify-content: center;
    transition-duration: 1s;
    float: center;
    margin-top: 200px;
    transition-duration: 1s;
}

.boxred:hover{
    transform: scale(1.1);
    transition-duration: 1s;
}

textarea{
    resize: none;
}

@media screen and (min-width: 410px) and (max-width: 720px){ /*Responsividade para Moto G Power*/
    header{
        width: 100%;
        height: 100px;
        padding: 13px;
    }

    .logo img{
        width: 82px;
        height: 82px;
    }

    .menu li a{
        margin: 70px 25px 70px 25px;
        padding: 5px;
        border-radius: 10px; /*arredonda cantos das bordas*/
        transition: 1s;
        font-size: 12px;
    }

    .container img{
        width: 99%;
        margin-left: 2px;
        margin-top: 165px;
        margin-bottom: 165px;
    }

    .rodape{
        height: 81px;
        line-height: 18px;
        font-size: 13px;
    }

    .rodapeh{
        width: 100%;
        line-height: 18px;
        font-size: 13px;
    }

    .social li{
        margin-left: 25px;
    }

    .social img{
        width: 15px;
        height: 15px;
    }

    .seta img{
        right: 25px;
    }

    .arg{
        width: 20%;
        margin: 10px;
        padding: 10px;
        height: 5000px;
        margin-right: -5px;
    }

    .argmod{
        width: 20%;
        margin: 10px;
        padding: 10px;
        height: 31500px;
    }

    .atualiza{
        font-size: 9px;
        margin-left: 0px;
        margin-top: 10px;
    }

    p.titext{
        font-size: 12px;
    }

    .artg{
        width: 15%;
        margin-top: 8px;
    }

    .artg li a{
        font-size: 10px;
        margin-left: 0px;
        margin-top: 20px;
    }

    .article{
        /* width: 50%; */
        margin: 15px;
        padding: 10px;
        height: 5000px;
    }

    .articlemod{
        margin: 15px;
        padding: 10px;
        height: 31500px;
    }

    .articlectt{
        width: 90%;
        margin: 15px;
        padding: 10px;
        height: 690px;
    }

    .tpc{
        width: 20%;
        margin: 15px;
        padding: 10px;
        height: 5000px;
        margin-left: -5px;
    }

    .tpcmod{
        margin: 15px;
        padding: 10px;
        height: 31500px;
    }

    p.titextar{
        font-size: 25px;
    }

    p.titextarctt{
        font-size: 25px;
    }

    p.titextara{
        margin-top: 15px;
        font-size: 25px;
    }

    .arttext{
        margin-top: 2px;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
    }

    .arttextctt{
        margin-top: 10px;
        font-size: 16px;
    }

    .arttextctt{
        margin-top: 0px;
        font-size: 15px;
    }

    .arttextctth{
        margin-top: 5px;
        font-size: 14px;
    }

    .comp{
        margin-left: 15px;
    }

    .compex{
        margin-left: 20px;
    }

    .articlectt{
        height: 607px;
    }

    .boxred{
        width: 200px;
        height: 200px;
        padding: 10px;
        margin-top: 200px;
    }

    .articlecttred{
        margin: 10px auto;
        padding: 1px;
        height: 620px;
    }
}